<div *ngIf="userData">
  <h2 class="profile-heading">Vartotojo puslapis</h2>
  <div class="user-info">
    <p class="user-info-item"><strong>Vardas:</strong> {{ userData.name }}</p>
    <p class="user-info-item"><strong>Elektroninis paštas:</strong> {{ userData.email }}</p>
  </div>
  <div class="liked-categories">
    <h3 class="liked-categories-heading">Pamėgtos kategorijos:</h3>
    <ul>
      <li *ngFor="let entertainment of likedItems" class="category-item">
        {{ entertainment.title }}
        <button mat-raised-button color="primary" class="more-details-button" (click)="openDetailsDialog(entertainment)">Žiūrėti plačiau</button>
      </li>      
    </ul>
  </div>
</div>
