<div *ngIf="userData">
  <h2>User Profile</h2>
  <p>
    <strong>Name:</strong> {{ userData.name }}<br>
    <strong>Email:</strong> {{ userData.email }}<br>
  </p>
  <div>
    <h3>Liked Categories:</h3>
    <ul>
      <li *ngFor="let entertainment of likedItems">
        {{ entertainment.title }}
        <app-result-details *ngFor="let entertainment of likedItems" [item]="entertainment"></app-result-details>
      </li>      
    </ul>
  </div>
</div>
<div *ngIf="!userData && !errorMessage">
  <p>Please log in to view your profile.</p>
</div>
<div *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
</div>
