<div class="filter-container">
  <div class="search-form">
    <input matInput class="search-input" #searchInput placeholder="Type to search..." [(ngModel)]="searchTerm">
    <button mat-raised-button class="search-button" (click)="search()">Search</button>
  </div>
  <div class="results-container">
    <div *ngIf="filteredDataSource.length === 0" class="no-results">No results found.</div>
    <div *ngFor="let result of filteredDataSource" class="result-item">
      <div class="result-image">
        <img [src]="result.image_src" alt="Result Image">
      </div>
      <div class="result-details">
        <h3>{{ result.title }}</h3>
        <button mat-raised-button color="primary" (click)="openDetailsDialog(result)">View Details</button>
      </div>
    </div>
  </div>
</div>
