@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.search-container {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.search-form {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  max-width: 300px;
  width: 100%;
}

.search-button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.results-container,
.recommendations-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-results {
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

.result-box,
.recommendation-box {
  width: 300px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.result-item,
.recommendation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}

.result-image,
.recommendation-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.result-details,
.recommendation-details {
  text-align: center;
}

.mat-raised-button {
  margin-top: 10px;
}
