<main>
    <div class="container">
        <h1>The list for {{ category_name }} </h1>
         <hr>
        <div class="row">
            <div class="col-12">
                {% if components %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Component</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for component in components %}
                        <tr>
                            <td>{{ component.name }}</td>
                            <td>{{ component.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No Components found.</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>