{% load static %}
<script src="{% static 'template.js' %}"></script>
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
  <!-- Navigation Bar -->
  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'categories' %}">Categories</a></li>
    </ul>
  </nav>


  <!-- Main Content Area -->


<script>
  function toggleCategory(id) {
    let content = document.getElementById(`category-${type}`);
    if (content.style.display === "none") {
      content.style.display = "block";
    } else {
      content.style.display = "none";
    }
  }
</script>

</html>