:host ::ng-deep .mat-toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

:host ::ng-deep .logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 16px;
}

:host ::ng-deep .spacer {
  flex: 1 1 auto;
}
body {
  padding-top: 64px; /* adjust to the height of your navigation bar */
}
.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}