<section class="about-container">
  <h1 class="about-title">Apie mus</h1>
  <p class="about-text">Sveiki atvykę į mūsų tinklalapį! Esame kūrėjų komanda, kuri aistringai domisi aukštos kokybės internetinės aplikacijos kūrimu. Mūsų tikslas yra suteikti vartotojams geriausią galimą patirtį, kurdami lengvai naudojamus ir vizualiai patrauklius sąsajos elementus.</p>
  <p class="about-text">Jei turite klausimų ar atsiliepimų, prašome nedvejodami susisiekti su mumis. Labai norėtume išgirsti iš jūsų!</p>
</section>
