@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:host {
  display: block;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: 500;
}

.dialog-container .mat-dialog-container {
  width: 80% !important;
  height: 80% !important;
  max-width: none !important;
  max-height: none !important;
  overflow: scroll;
}
