.dialog-container {
  width: 90%;
  height: 90%;
  max-width: 1500px;
  max-height: 900px;
  display: flex;
  flex-direction: column;
}

.mat-dialog-content {
  flex-grow: 1;
  overflow-y: auto;
}

.item-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.item-image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.item-details {
  font-size: 18px;
}

.like-button {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 20px;
}
