.dialog-container {
  width: 90%;    
  height: 90%;   
  max-width: 1500px; 
  max-height: 900px; 
  display: flex;
  flex-direction: column;
}

.mat-dialog-content {
  flex-grow: 1;
  overflow-y: auto;
}

@media (max-width: 767px) {
  .dialog-container {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
  }
}
